altgraph==0.17.4
auto-py-to-exe==2.46.0
bottle==0.13.3
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.3
defusedxml==0.7.1
docutils==0.21.2
Eel==0.18.1
filetype==1.2.0
fonttools==4.57.0
fpdf2==2.8.3
future==1.0.0
gevent==25.4.2
gevent-websocket==0.10.1
greenlet==3.2.1
idna==3.10
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
lxml==5.4.0
numpy==2.2.3
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
pycparser==2.22
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.3
pyperclip==1.9.0
pypiwin32==223
python-dateutil==2.9.0.post0
python-pptx==1.0.2
pytz==2025.1
pywin32==308
pywin32-ctypes==0.2.3
reportlab==4.4.0
requests==2.32.3
setuptools==80.3.1
six==1.17.0
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.3.0
XlsxWriter==3.2.3
zope.event==5.0
zope.interface==7.2
